@import './lib/mixins';

$transition: all .3s ease 0s;
$backgroundColor: var(--vscode-editor-background, var(--background-color));
$color: var(--vscode-editor-foreground, var(--color));
$fontFamily: var(--vscode-font-family, var(--vscode-editor-font-family, var(--font-family)));
$fontSize: var(--vscode-font-size, var(--vscode-editor-font-size, var(--font-size)));
$linkColorBg: var(--vscode-button-background, var(--link-color));
$linkColorFg: var(--vscode-button-foreground);

$lightThemeGray1: rgba(0, 0, 0, 0.05);
$lightThemeGray2: rgba(0, 0, 0, 0.10);
$lightThemeGray3: rgba(0, 0, 0, 0.15);
$lightThemeGray4: rgba(0, 0, 0, 0.20);
$lightThemeGray5: rgba(0, 0, 0, 0.25);
$lightThemeGray6: rgba(0, 0, 0, 0.30);
$lightThemeGray8: rgba(0, 0, 0, 0.40);
$lightThemeGray10: rgba(0, 0, 0, 0.50);
$lightThemeGray12: rgba(0, 0, 0, 0.60);
$lightThemeGray14: rgba(0, 0, 0, 0.70);
$lightThemeGray16: rgba(0, 0, 0, 0.80);

$darkThemeWhite1: rgba(255, 255, 255, 0.05);
$darkThemeWhite2: rgba(255, 255, 255, 0.10);
$darkThemeWhite3: rgba(255, 255, 255, 0.15);
$darkThemeWhite4: rgba(255, 255, 255, 0.20);
$darkThemeWhite5: rgba(255, 255, 255, 0.25);
$darkThemeWhite6: rgba(255, 255, 255, 0.30);
$darkThemeWhite8: rgba(255, 255, 255, 0.40);
$darkThemeWhite10: rgba(255, 255, 255, 0.50);
$darkThemeWhite12: rgba(255, 255, 255, 0.60);
$darkThemeWhite14: rgba(255, 255, 255, 0.70);
$darkThemeWhite16: rgba(255, 255, 255, 0.80);

$radius: 3px;

input, select, select > option {
  border-radius: 0;
  background: var(--vscode-settings-textInputBackground);
  border: 1px solid var(--vscode-input-border);
  color: var(--vscode-settings-textInputForeground);
  padding: 4px 8px;
}
select {
  padding: 4px 6px;
}


.fullscreen-container {
  @include full-screen();
}

.capitalize {
  text-transform: capitalize;

  small {
    margin-left: 10px;
    text-transform: none;
  }
}

::-webkit-input-placeholder {
  color: $lightThemeGray4;
  text-transform: capitalize;
}

.vscode-dark {
  color: $darkThemeWhite4;
  ::-webkit-input-placeholder {
    color: $darkThemeWhite4;
    text-transform: capitalize;
  }
}

.pointer {
  cursor: pointer;
}

.btn, button {
  background: $linkColorBg;
  padding: 4px 8px;
  color: $linkColorFg;
  border: 1px solid var(--vscode-input-border);
  text-transform: uppercase;
  cursor: pointer;
  &:disabled,
  &[disabled] {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background: $darkThemeWhite10;
    overflow: hidden;
    display: none;
    width: 100vw;
    height: 100vh;
}

.loading {
  @include full-screen();
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;

  .backdrop {
    display: block;
  }

  div.spinner,
  div.spinner:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
  div.spinner {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 10px;
    position: absolute;
    text-indent: -9999em;
    border-top: 1.1em solid $lightThemeGray4;
    border-right: 1.1em solid $lightThemeGray4;
    border-bottom: 1.1em solid $lightThemeGray4;
    border-left: 1.1em solid #ffffff;
    transform: translate3d(0, -50%, 0);
    animation: load8 1.1s infinite linear;
  }

}
.vscode-dark .loading {
  .backdrop {
    background: $lightThemeGray10;
  }
  div.spinner {
    border-top: 1.1em solid $darkThemeWhite4;
    border-right: 1.1em solid $darkThemeWhite4;
    border-bottom: 1.1em solid $darkThemeWhite4;
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no-margin { margin: 0 !important; }
.no-margin-top { margin-top: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.no-margin-left { margin-left: 0 !important; }
.no-margin-right { margin-right: 0 !important; }

.no-padding { padding: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }

.row.no-margin-first-top .col-* {
  margin-top: 0 !important;
}

.relative {
  position: relative !important;
}

.flex-full {
  display: flex;
  align-items: baseline;
  > * {
    flex-grow: 1;
  }
}