---
import * as CONFIG from '../../config';

type Props = {
};

const showMoreSection = CONFIG.COMMUNITY_INVITE_URL;
---

{showMoreSection && <h2 class="heading">More</h2>}
<ul>
  {
  }
  {
    CONFIG.COMMUNITY_INVITE_URL && (
      <li class={`heading-link depth-2`}>
        <a href={CONFIG.COMMUNITY_INVITE_URL} target="_blank">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="comment-alt"
            class="svg-inline--fa fa-comment-alt fa-w-16"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            height="1em"
            width="1em"
          >
            <path
              fill="currentColor"
              d="M448 0H64C28.7 0 0 28.7 0 64v288c0 35.3 28.7 64 64 64h96v84c0 9.8 11.2 15.5 19.1 9.7L304 416h144c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64z"
            />
          </svg>
          <span>Join our community</span>
        </a>
      </li>
    )
  }
</ul>

<style>
  .edit-on-github {
    text-decoration: none;
    font: inherit;
    color: inherit;
    font-size: 1rem;
  }
</style>
