**/dist/
node_modules/
.vscode-test/
coverage/
.nyc_output/
coverage.enabled
npm-shrinkwrap.json
*.log
*.vsix
!packages/**/cache
!**/.vscode
**/package-lock.json
.env
.vscode/aisettings.json
*.db
*.zip
test/docker/oracle/docker-images-master
test/docker/**/local*
.DS_Store
.npmrc
.docz
public
.cache
.parcel-cache
add-new.diff
*.tar.gz
*.tgz
.todo
.test-results/