__mocks__/**
.git/**
.gitignore
.travis.yml
.vscode-test/*
.vscode/*
*.map
*.md
*.spec.*
*.test*
*.ts
**/.travis.yml
**/*.map
**/*.md
**/*.spec.*
**/*.test*
**/*.ts
**/example/**
**/test/**
coverage/**
gulpfile.json
jest.json
npm-shrinkwrap.json
out/**
package-lock.json
src/**
static/**
test/**
tsconfig.json
tslint.json
vsc-extension-quickstart.md
yarn.lock
