# exclusions
.vscode/**
.vscode-test/**
out/test/**
test/**
**/test/**
src/**
**/*.map
.gitignore
**/.gitignore
tsconfig.json
vsc-extension-quickstart.md
*.log
**/*.log
coverage/**
**/coverage/**
__mocks__/**
**/__mocks__/**
*example*
**/*example*
*example*/**
**/*example*/**
static/**
**/static/**
.test-database/**
**/.test-database/**
packages/**
**/packages/**
package-lock.json
**/package-lock.json
jest.json
**/jest.json
gulpfile.js
**/gulpfile.js
tslint.json
**/tslint.json
.eslint*
**/.eslint*
.babel*
**/.babel*
.gitkeep*
**/.gitkeep*
.travis.yml
**/.travis.yml
*.md
**/*.md
*.vsix
**/*.vsix
node_modules/**
**/node_modules/**

# exceptions
!static/icon.png
!README.md
!LICENSE.md
!CHANGELOG.md