# exclusions
.vscode/**
.vscode-test/**
out/test/**
test/**
**/test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
*.log
**/*.log
coverage/**
**/coverage/**
__mocks__/**
**/__mocks__/**
CHANGELOG.md
**/CHANGELOG.md
static/**
**/static/**
package-lock.json
**/package-lock.json
jest.json
**/jest.json
gulpfile.js
**/gulpfile.js
tslint.json
**/tslint.json
.travis.yml
**/.travis.yml
ISSUE_TEMPLATE.md
**/ISSUE_TEMPLATE.md

# exceptions
!static/icon.png
