<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>SQLTools Setup Helper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <script>
    link = document.createElement('link');
    link.href = 'css/setup.css';
    link.rel = 'stylesheet';
    link.type = 'text/css';
    document.getElementsByTagName('head')[0].appendChild(link);
  </script>
  <div id="root"></div>
  <script src="js/vendors.js" type="text/javascript" charset="UTF-8"></script>
  <script src="js/setup.js" type="text/javascript" charset="UTF-8"></script>
</body>
</html>
