# Use root/example as user/password credentials
version: '3.1'

services:

  db:
    container_name: sqltools_oracle
    image: oracle/database:12.2.0.1-ee
    environment:
      ORACLE_PWD: root
    ports:
      - 1521:1521
      - 5500:5500
